@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

html{
    font-family: IBM Plex sans;
}
body{
    padding: 0em ;
   margin: 0em;
}

.container{
    overflow-x: hidden;
    background-repeat: no-repeat;
    align-items: center;
    position: relative;
    min-height: 100vh;
    padding: 2em 0em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

h1{ 
    font-weight: 700;
    max-width: 1015px;
    min-width: 327px;
    max-height: 176px;
    min-height: 144px;
}

.illustration-app{
    max-width: 280px;
    min-height: 430px;
    max-height: 600px;
    min-width: 209px;
    
}
/*desktop*/
   .container{
     background-image: url(assets/bg-main-desktop.png);
     max-width: 1440px;
     margin: 0em;
     padding: 0em;
   
   }
   h2{
    font-size: 40px;
    padding: 1em 4em;
   }

   img{
    max-height: 468px;
    max-width: 312px;
   position: relative;
   top: -13em;
   left: 70em;
   }
   
   h1{
    font-size: 5.88em;
    line-height: 7rem;
    padding: 0em 1.5em;
    position: relative;
    top: -5em;
   }

   .description{
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.8em;
    max-width: 825px;
    margin-top: -22em;
    padding-left: 7em;
   }

   .section{
    max-width: 1110px;
    max-height: 600px;
    background: #191826;
    border-radius: 12px;
    margin-top: 15em;
    margin-left: 10em;
    
   }

   .background-design{
    margin-left: -48em;
    max-width: 312px;
    max-height: 438px;
    padding-top: 12em;
    
   }

   .illustration-app{
    position: relative;
    top: -13em;
    margin-left: -32em;
    margin-top: -20em;
    
   }

   .subscription{
    height: 625px;
    width: 446px;
    background: #fa7453;
    border-radius: 12px;
    margin-top: -35em;
    margin-left: 46em;
    position: relative;
    z-index: 1;
    color: #fcfaf9;
    text-align: center;
  }

  .subscription-plan{
    font-size: 2.500em;
   font-weight: 700;
   font-style: normal;
   width: 333px;
   height: 52px;
   padding-left: 1em;

  }

  .subscription-info{
    font-family: IBM Plex sans;
    font-size: 1.250em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8em;
     text-align: left;
     padding-left: 2.5em;
     min-width: 302px;
     min-height: 140px;
     max-width: 333px;
     max-height: 170px;
     margin-top: -3em;
  }

  .price{
   padding: 0em 3.125em 3.125em 0em;
   margin-left: -6em;
   margin-top: -2em;
    }
   
   #price{
    font-size: 4.063em;
    font-weight: 900;
    position: relative;
    top: 0.3em;
    color: #fcfaf9;
   }

   .apple-download{
    max-width: 333px;
    min-height: 61px;
    background-color: #191326;
    border-radius: 12px;
    margin: -1em auto 1em auto;
    }

   .apple{
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.18px;
    position: relative;
    top: 1em;
    color: #fcfaf9;
    }

    .android-download{
      max-width: 333px;
      min-height: 61px;
      background: #fcfaf9;
      border-radius: 12px;
      margin: 1em auto 1em auto;
      }

      .android{
        font-family: IBM Plex sans;
        font-style: normal;
        font-size: 18px;
        font-weight: 700;
        line-height: 32px;
        position: relative;
        top: 1em;
        color: #191326;

      }

      #footer{
        display: flex;
        flex-direction: row;
      }

      .Contact-info{
        max-width: 350px;
        font-size: 1em;
        line-height: 26px;
        font-weight: 400;
        text-align: left;
        padding-top: 4em;
        }

      span{
        color: #191826;
        font-weight: 700;
        font-size: 1em;
      }

      .social-icons{
        padding: 6em 5em 4em 25em;
        display: flex;
        flex-direction: row;
      }

      #facebook{
         padding-right: 1.3em;
      }

      #instagram{
         padding-right: 1.3em;
      }
      #twitter{
         padding-right: 1.3em;
      }

      #facebook:hover, #instagram:hover, #twitter:hover{
        color: #fa7453;
        transform: scale(1.5);
      }

      .apple-download:hover{
        background-color: #66e2dc;
        opacity: 0.7;
     }
     .android-download:hover{
        background-color: #ffb964;
     }

     /*tablet*/
@media only screen and  (min-width: 481px) and (max-width: 768px){
  body{
    margin: 0em;
     padding: 0em;
     min-height: 100vh;
  }

  .container{
    background-image: url(assets/bg-main-tablet.png);
    margin: 0em;
    padding: 0em;
    max-width: 768px;
   overflow-x: hidden;
}

   h2{
  font-size: 32px;
  padding: 1em 2em;
 }

 img{
  position: relative;
 top: -13em;
 left: 34em;
 max-width: 266.67px;
 min-height: 400px;
 line-height: 2em;
 }

 h1{
  font-size: 3.88em;
  line-height: 4.5rem;
  padding: 0em 1.5em;
  position: relative;
  top: -7.5em;
  margin-left: -0.5em;
  max-width: 520px;
  min-height: 192px;

 }

 .description{
  font-size: 1.125em;
  max-width: 514px;
  max-height: 112px;
  padding-left: 3.5em;
  margin-top: -24em;
 }

 .section{
  max-width: 696px;
  min-height: 600px;
  position: relative;
  margin-left: 1.5em;
  margin-right: 0em;
  margin-top: 12em;
 }

 .background-design{
  max-width: 280px;
  min-height: 420px;
  padding: 13em 28em;
 }

 .illustration-app{
  max-width: 270px;
  min-height: 556px;
  margin-right: 50em;
  position: relative;
  top: -41em;
  padding-left: 2em;
 }

 .subscription{
  max-width: 420px;
  max-height: 560px;
  position: relative;
  left: -30em;
  top: 2em;
 }

 #footer{
  margin-top: 7em;
  display: grid;
 }

 .Contact-info{
  margin-top: -5em;
  margin-left: 3.5em;
 }

.social-icons{
  margin-left: 12em;
  margin-top: -10em;
}
}



   /*mobile*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .container{
    background-image: url(assets/bg-main-mobile.png);
    background-size: cover;
    background-position: 60%;
  }
   h2{
    font-size: 30px;
    padding-left: 0.5em;
    margin-top: 2em;
   }

   h1{
    font-size: 2.5em;
    line-height: 1.2em;
    margin-top: -6em;
    padding-left: 0.5em;
    
   }

   .description{
    margin-top: -13em;
    max-height: 100px;
    padding-left: 0.5em;
   font-size: 1rem;
   }

   .section{
    max-width: 375px;
    max-height: 600px;
    margin-left: 0em;
    margin-right: 0em;
   }

   .background-design{
    max-width: 280px;
  min-height: 420px;
  padding-top: 13em;
  position: relative;
  left: 50.5em;

 
 }
   .illustration-app{
    max-width: 170px;
    min-height: 456px;
    margin-top: 2em;
    position: relative;
    top: -17em;
    margin-left: -34.5em;
   
  
   }

   .subscription{
    max-width: 375px;
    max-height: 546px;
    margin: -18em 0em;
   }

  #footer{
    display: grid;
    margin-top: 15em;
  }

  .Contact-info{
    margin-top: -5em;
    padding-left: 0.5em;
  }

  .social-icons{
position: absolute;
left: -24em;
top: 110em;
  }
  }
  


    

    
